streamlit
gTTS==2.2.2
googletrans==3.1.0a0
elevenlabs
python-docx        # Para `from docx import Document`
PyPDF2             # Para `from PyPDF2 import PdfReader`
Pillow             # Para `from PIL import Image`
